.main-div {
  background: url('images/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed; /* Ensures the background stays fixed */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-y: auto; /* Allows scrolling of content */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.form-container {
  position: relative; /* Allows the use of top property */
  z-index: 1;
  padding: 30px;
  top: 50px; /* Adds gap at the top */
  border-radius: 8px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 500px;
  background-color: rgba(250, 250, 250, 0.198);
}


.speciality-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.speciality-input {
  margin-right: 10px;
}

.add-speciality-btn, .remove-speciality-btn {
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  color: rgb(255, 196, 0);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.596);
}

button {
  background-color: rgb(255, 196, 0);
  border-color: rgb(255, 196, 0);
  color: black;
}

button:hover {
  background-color: black;
  color: white;
  border-color: black;
}
