.main-div{
    /* background: url('images/black-bg2.jpg') no-repeat center center fixed;   */
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0;
}
.main-div::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/black-bg2.jpg') no-repeat center center fixed;  /* Background image for blur effect */
    background-size: cover;
    filter: brightness(50%) ;  /* Adjust brightness and blur */
    z-index: -1;  /* Ensure it stays behind the content */
}
.card-body {
    background-color: rgba(7, 7, 7, 0.897);
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 150px;
  }
  
  .card-body:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 15px rgba(252, 251, 251, 0.829);
  }
  
  .shadow-sm {
    border-color: rgba(255, 255, 255, 0.315);
    background-color: rgba(7, 7, 7, 0.897);
    border-width: 2px;
  }
  
  .each-req-div {
    margin-top: 20px;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .each-req-div {
      flex: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .card {
      margin-bottom: 20px;
    }
  }