/* General Layout */
.main-div {
    background-size: cover;
    display: flex;
    justify-content: flex-start; /* Align child elements directly under the header */
    height: 100vh;
    margin: 0;
  }
  
  .main-div::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/black-bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(50%) ; /* Added a slight blur for enhanced effect */
    z-index: -1;
  }


  
  /* Cards and Styling */
  .card-body {
    background-color: rgba(7, 7, 7, 0.897);
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 380px;
  }
  
  .card-body:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 15px rgba(252, 251, 251, 0.829);
  }
  .ser-name-span{
    color: darkgoldenrod;
}
  
  .shadow-sm {
    border-color: rgba(255, 255, 255, 0.315);
    background-color: rgba(7, 7, 7, 0.897);
    border-width: 2px;
  }
  
  .each-req-div {
    margin-top: 20px;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .each-req-div {
      flex: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .card {
      margin-bottom: 20px;
    }
  }

  .booking-datetime {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-size: 0.8rem;
    color: #6c757d; /* Subtle gray color for text */
  }
  