<div>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container" style="margin-right: 10px;">
          <a class="navbar-brand" routerLink="/user-homepage">Quick Assist</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/user-homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user-requests">Requets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user-bookings">My Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/service-cat">Services</a>
              </li>
              <!-- Logout Button -->
              <li class="nav-item" style="margin-left: 40px;">
                <button class="btn btn-danger ms-3" id="logoutButton" style="background-color: rgba(221, 9, 9, 0.596);">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>