<body>
    <!-- Navbar -->
    <app-worker-header></app-worker-header>
    <!-- Main Content Section -->
    <div class="main-div">
        <div class="container mt-5">
          <h2 class="text-center text-white mb-4">Worker Dashboard</h2>
      
          <!-- Dashboard Statistics -->
          <div class="row g-4">
            <!-- Completed Bookings -->
            <div class="col-md-4">
              <div class="stat-card">
                <h5>Completed Bookings</h5>
                <div class="stat-value">{{completedBookings}}</div>
              </div>
            </div>
      
            <!-- Requests Received -->
            <div class="col-md-4">
              <div class="stat-card">
                <h5>Requests Received</h5>
                <div class="stat-value">{{requestedBookings}}</div>
              </div>
            </div>
      
            <!-- Cancelled Bookings -->
            <div class="col-md-4">
              <div class="stat-card">
                <h5>Ongoing Bookings</h5>
                <div class="stat-value">{{ongoingBookings}}</div>
              </div>
            </div>
      
            <!-- Accepted Requests -->
            <div class="col-md-4">
              <div class="stat-card">
                <h5>Accepted Requests</h5>
                <div class="stat-value">{{accepetedBookings}} </div>
              </div>
            </div>
      
            <!-- Rejected Requests -->
            <div class="col-md-4">
              <div class="stat-card">
                <h5>Rejected Requests</h5>
                <div class="stat-value">{{rejectedBookings}}</div>
              </div>
            </div>
      
            <!-- Pending Requests -->
            <div class="col-md-4">
              <div class="stat-card">
                <h5>Pending Requests</h5>
                <div class="stat-value">{{pendingPaymentBookings}}</div>
              </div>
            </div>
          </div>
      
          <!-- Upcoming Bookings Section -->
          <div class="upcoming-bookings mt-5">
            <h4 class="text-white mb-3">Upcoming Bookings</h4>
            <table class="table table-dark table-striped">
              <thead>
                <tr>
                  
                  <th>Client Name</th>
                  <th>Booking for date</th>
                  <th>Booking for time</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let booking of bookings">
                  <td>{{ workers[booking.userId] }}</td>
                  <td>{{ dateStore[booking.id] }}</td>
                  <td>{{ timeStore[booking.id] }}</td>
                  <td>{{ status[booking.id] }}</td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
      
  
 </body>
  