<div class="main-div">
    <app-user-header></app-user-header>
    <div class="container mt-5">
      <h2 class="text-center text-white mb-4">My Bookings</h2>
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 each-req-div">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Service Name: <span class="text-warning">Plumbing</span></h5>
              <p class="card-text">Worker Name:<span class="ser-name-span"> John Doe</span></p>
              <p class="card-text">Booked Date & Time:<span class="ser-name-span"> 2023-12-01 10:00 AM</span></p>
              <p class="card-text">Booking Status: <span class="badge bg-success">Completed</span></p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 each-req-div">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Service Name: <span class="text-warning">Electrical</span></h5>
              <p class="card-text">Worker Name:<span class="ser-name-span"> Jane Smith</span></p>
              <p class="card-text">Booked Date & Time:<span class="ser-name-span"> 2023-12-02 2:00 PM</span></p>
              <p class="card-text">Booking Status: <span class="badge bg-primary">Ongoing</span></p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 each-req-div">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Service Name: <span class="text-warning">Carpentry</span></h5>
              <p class="card-text">Worker Name:<span class="ser-name-span"> Mike Brown</span></p>
              <p class="card-text">Booked Date & Time:<span class="ser-name-span"> 2023-12-03 11:00 AM</span></p>
              <p class="card-text">Booking Status: <span class="badge bg-success">Completed</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 each-req-div">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Service Name: <span class="text-warning">Electrical</span></h5>
                <p class="card-text">Worker Name:<span class="ser-name-span"> Jane Smith</span></p>
                <p class="card-text">Booked Date & Time:<span class="ser-name-span"> 2023-12-02 2:00 PM</span></p>
                <p class="card-text">Booking Status: <span class="badge bg-primary">Ongoing</span></p>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>